modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BMgWRi9I3BzzKSvI5avmO6fxopfSLX_MHSwP5k19LER6NM0xWIyrJLJoeRComLRsItYeRDijG26DvffnJy5nM3A"
VAPID_PRIVATE_KEY = "yguGAGpnjvh6c3hQDMNJaHjnZwClCTfui-Mq8gqGlXk"
VAPID_SUBJECT = "mailto:admin@senseilink.com"
