modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBZwJ6mAeSF3QAdCKjVTrhiF8UFde34DWomAK6Kkxneu3ia80lnpCXbYuVLtQiRNlPBzi3NrU7K1zJHOnIjxsO0"
VAPID_SUBJECT = "mailto:admin@senseilink.com"
VITE_VAPID_PUBLIC_KEY = "BBZwJ6mAeSF3QAdCKjVTrhiF8UFde34DWomAK6Kkxneu3ia80lnpCXbYuVLtQiRNlPBzi3NrU7K1zJHOnIjxsO0"
ADMIN_CLERK_ID = "user_3DXRlgXBazvEMk4OWWB6tqX9isE"
VITE_CLERK_PUBLISHABLE_KEY = "pk_live_Y2xlcmsuaW5jbHVkbHkuaW4k"
